[submodule "slow-specs-app"]
	path = slow-specs-app
	url = https://github.com/semaphore-sample-org/slow-specs-app
[submodule "app-with-r"]
	path = app-with-r
	url = https://github.com/mimimalizam/app-with-r
